@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #69381b); /*Faz um degrade da direita para a esquerda entre as duas imagens*/
}

main { /*Tag que contém todo o texto da página*/
    background-color: white; /*Cor de fundo branca*/
    border-radius: 10px; /*Arredonda as bordas*/
    box-shadow: 5px 5px 15px rgba(136,109,93,0.616); /*Coloca um sombreamento*/
    width: 600px; /*Tamanho da largura*/
    padding: 10px; /*Espaço de margem no final do texto*/
    margin: auto; /*Centraliza o texto na página*/
}

h1 {
    color: #F39209;
    text-align: center; /*Centraliza o texto*/
    text-shadow: 1px 1px 2px rgba(129, 77, 5, 0.726);
}

h2 {
    color: #125189;
}

p {
    text-align: justify; /*Justifica todo o textyo que estiver entre as tags <p>*/
    text-indent: 30px; /*Coloca um espço no começo de cada parágrafo*/
}