@charset "UTF-8";
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {     /*O estilo será apenas do <h1> que possui a identificação "principal" (A id será chamada usando #)*/
    color: hotpink;
}  
h1.destaque {   /*Estilo de todas as tags que sejam da classe destaque (A classe será chamada usando .)*/
    color: black;
}
h2.basico {      /*O estilo de todas as tags que sejam da classe básico (A classe será chamada usando .)*/
    color:darkslateblue;
}
h2.intermediario {   /*O estilo de todas as tags que sejam da classe intermediario (A classe será chamada usando .)*/
    color: greenyellow;
}
h2.avançado {     /*O estilo de todas as tags que sejam da classe avançado (A classe será chamada usando .)*/
    color: coral;
}

