/*Arquivo que contém os estilos a serem utilizados*/

/*Abaixo está o comando possibilita a inclusão de caracteres com acento na página*/
@charset "UTF-8"; 

h1 {
    background-color: aqua; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
h2 {
    color: yellow;
}
body {
    background-color: blueviolet;
    font-size: 16px;
}